


.simg {
    width: 100%;
    height: 450px;
}

.title {
    color: #007BFF;
    margin-bottom: 10px;
}

.paragraph {
    padding: 36px;
    margin-top: 10px;
    text-align: center;
}


.titulo {
    text-align: center;
    padding: 16px;
}

.contenido{
    text-align: center;
}




/* Reglas de medios para pantallas entre 365px y 1200px */
@media only screen and (min-width: 365px) and (max-width: 1200px) {
    .content-container {
        flex: 0 0 49%;
    }
}